{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Account</legend>
            <div class="alert form-group">
                {{ form.value.label(class="form-control-label") }}
                {{ form.value(class="form-control form-control-lg")}}
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>



{% endblock content %}